body{
    margin:0;
    background-color:rgb(22,22,22);
    color:aliceblue;
    font-family:sans-serif;
    text-align:center;
}

button{
    background-color:rgb(22,22,22);
    color:aliceblue;
    font-weight: bold;
}

button:disabled{
    color:rgb(68, 68, 68);
}

.box{
    margin:5px;
    border:solid;
    display:inline-block;
    padding:25px;
}

.box.number{
    font-size:20px;
}

.box > h2{
    font-size:25px;
    padding:0px;
}

.main-box {
    display:flex;
    justify-content:center;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
}

.main-box > div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
}

.main-box > div > div {
    min-width:250px;
    min-height:150px;
}

.dice {
    font-size:50px;
}

table {
    width: 100%;
}



 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #008cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}